{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12 text-center mb-4">
        <h1>Bienvenido al Detector de Noticias Falsas</h1>
    </div>
</div>

<div class="row mb-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Clasificar una noticia</h5>
                <p class="card-text">Introduce el texto de una noticia para determinar si podría ser falsa o verdadera.</p>
                <div class="text-center">
                    <a href="{{ url_for('web.clasificate') }}" class="btn btn-primary">Clasificar noticia</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Clasificar en lote</h5>
                <p class="card-text">Clasifica múltiples noticias a la vez cargando un archivo CSV.</p>
                <div class="text-center">
                    <a href="{{ url_for('web.upload') }}" class="btn btn-primary">Cargar CSV</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-center">Reentrenar modelo</h5>
                <p class="card-text">Mejora el modelo utilizando nuevos datos de entrenamiento etiquetados.</p>
                <div class="text-center">
                    <a href="{{ url_for('web.retrain') }}" class="btn btn-primary">Reentrenar</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}